<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>gloflow.com - the universe of creativity and art</title>
    <meta name="description" content="gloflow.com - is a parallel space for artistic expression" />

    <link rel="stylesheet" type="text/css" href="./../../../../gf_core/css/gf_sys_release_info.css"/>
    <link rel="stylesheet" type="text/css" href="./../../css/gf_home_main.css"/>
</head>

<body>
    
	<div id="home_container">

		
	</div>

    {{- /*-----------------------------------------------------*/}}
    <div id='sys_release_info'>
        <div id='version'>v <span>{{- .Sys_release_info.Version_str }}</span></div>
        <div id='name'>name <span>{{- .Sys_release_info.Name_str }}</span></div>
        <div id='description'>description <span>{{- .Sys_release_info.Description_str }}</span></div>
        <div id='git_commit'>Git commit <a target="_blank" href='https://github.com/gloflow/gloflow/commit/{{- .Sys_release_info.Git_commit_str }}'>{{- .Sys_release_info.Git_commit_str }}</a></div>
    </div>

    {{- /*-----------------------------------------------------*/}}

    <script type="text/javascript" src="./../../../../../libs/js/system.min.js"></script>
    <script type="text/javascript" src="./../../../../../libs/js/system_named_register_ext.js"></script> <!-- without this SystemJS extension modules dont load -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./../../../../../libs/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="./../../ts/gf_home_main.ts"></script>

    <script>
        System.import('gf_apps/gf_home/ts/gf_home_main').then(function(m){});
    </script>

    {{- /*-----------------------------------------------------*/}}
    {{- /*SUBTEMPLATE*/}}
    {{ if (call .Is_subtmpl_def "gf_footer")}}
        {{ template "gf_footer" }}
    {{ end }}
    
    {{- /*------------------------------------------------------*/}}
</body>
</html>