body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:      0;

	// turn off horizontal scroll
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}

//----------------------------------------------------------
#main_container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    position: relative;
    top: 55px;

    #left_space {
        // grid-column: 1 / 2;
        background: transparent; // Empty space
    }

    #right_space {
        // grid-column: 3 / 4;
        background: transparent; // Empty space
    }
}

//----------------------------------------------------------
// BOOKMARK

#bookmarks {
    
    .bookmark {
        background-color: #fffeda;
        padding-left: 6px;
        font-weight: bold;
        padding-top: 6px;
        padding-bottom: 3px;
        position: relative;
        margin-bottom: 9px;

        .url {
            padding-left: 5px;
            font-weight: bold;

            a {
                word-wrap: break-word;
                text-decoration: none;
            }
        }
        .description {
            font-size: 14px;
            padding-left: 6px;
        }
        .creation_time {
            font-size: 12px;
            font-weight: normal;
            padding-left: 5px;
            padding-bottom: 4px;
        }
        .tags {
            position: absolute;
            width: 40%;
            height: 21px;
            right: 0px;

            .label {
                font-size: 12px;
                padding-left: 0px;
                position: absolute;
                font-weight: normal;
            }

            .tags_list {
                padding-left: 4px;
                left: 28px;
                position: absolute;

                .tag {
                    background-color: #ede9a8;
                    // padding-bottom: 3px;
                    padding-top: 4px;
                    text-decoration: none;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}