body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:      0;

	// turn off horizontal scroll
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}

//----------------------------------------------------------
// TAG INFO
#tag_info {
    position: fixed;
    top: 55px;
    left: 0px;
    display: flex;
    z-index: 1;
}

#tag_name {
    background-color: #f7f7f7;
    padding-left: 9px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 11px;
    font-size: 21px;
	z-index: 10;

    flex-grow: 0;
    flex-shrink: 0;
}

#tag_stats {

    position: relative;

    height: 31px;
    width: 90px;
    background-color: #b9b9b9;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

    flex-grow: 1;

    #images_count {
        width: 80px;
        position: absolute;
        top: 13px;

        .title {
            font-size: 10px;
        }
        .count {
            position: absolute;
            top: -1px;
            left: 36px;

            font-weight: bold;
        }
    }
}

//----------------------------------------------------------
#objects_container {
    display: grid;
    grid-template-columns: 13% 1fr 13%;
    width: 100%;
    position: absolute;
    top: 55px;

    #left_space, #right_space {
        background: transparent;
    }
}

//----------------------------------------------------------
// IMAGES
#images_container {
    position: absolute;
    background-color: #3b7c9c1c;
    width: 100%;
    grid-column: 2 / 3;

    /*
    .gf_image {
        position:         relative;
        float:            left;
        text-align:       center;
        background-color: rgb(59, 124, 156);
        width:            200px;
        padding-bottom:   10px;
        box-shadow:       1px 1px 10px grey;
        
        // elements are not initially visible, but instead become visible
        // after masonry finishes their layout
        visibility: false; 

        img {
            width : 100%;
            cursor: pointer;
        }
        .owner_user_name {
            font-size: 10px;
            color: white;
            text-align: center;
            padding-top: 3px;
        }
        .owner_user_name span {
            font-weight: bold;
            font-size: 12px;
        }
        .origin_page_url {
            padding-top:      6px;
            padding-bottom:   6px;
            text-align:       center;
            background-color: #669ab3;
            width:            180px;
            padding-left:     9px;
            padding-right:    11px;
            margin-top:       -4px;

            a {
                font-size: 12px;
                color: white;
                text-decoration: none;
                word-wrap: break-word;
            }
        }
        .creation_time {
            font-size:        14px;
            background-color: rgb(59, 124, 156);
            color:            white;
            padding-top:      5px;

            .full_creation_date {
                background-color: #3992bd;
                color:            #1d3d4c;
                padding-top:      3px;
                padding-bottom:   3px;
                margin-top:       4px;
            }
        }
    }
    */
}

//----------------------------------------------------------