







/*---------------------------------------------------------------------*/
/*BATCH_STATS*/

#batch_stats {
    background-color: white;
    padding-bottom  : 6px;

    position: absolute;
    top     : 50px;
}