<html lang="en">
<head>

	{{/*--------------------------------------------------------------*/}}
	{{/*METADATA*/}}
	<meta property="og:title" content="gloflow.com:tag:{{ .TagStr }}"/>
	
	{{/*--------------------------------------------------------------*/}}
	<link rel="stylesheet" type="text/css" href="./../../css/gf_tag_objects.css">
	<link rel="stylesheet" type="text/css" href="./../../../../gf_sys_panel/css/gf_sys_panel.css"/>
	<link rel="stylesheet" type="text/css" href="./../../../../gf_core/css/gf_sys_release_info.css"/>

	{{/*--------------------------------------------------------------*/}}
</head>

<body>

<div id="tag_info">
	<div id='tag_name'>#{{ .TagStr }}</div>

	<!-- TAG STATS -->
	<div id='tag_stats'>
		<div id='images_count'>
			<div class='title'>images</div>
			<div class='count'>{{ .ImagesWithTagCountInt }}</div>
		</div>
	</div>
</div>

<div id="objects_container">
	<div id="left_space"></div>

	<div id='images_container'>
		{{ range .ImagesWithTagLst }}
			<div class='gf_image'
				data-img_id='{{- .id_str }}'
				data-img_format='{{- .format_Str }}'
				data-img_meta_json='{{- .meta_json_str }}'
				data-img_flows_names="{{- .flows_names_str }}">

				{{- /*--------------------------------------------------------------*/}}
				<img src="{{ .thumbnail_medium_url_str }}"
					data-img_thumb_medium_url="{{ .thumbnail_medium_url_str }}"
					data-img_thumb_large_url="{{ .thumbnail_large_url_str }}"></img>

				{{- /*------------------------------------------------------*/}}
				{{- /* TAGS */}}
				<div class='tags_container'>
				
					{{- range .tags_lst }}
					<a class='gf_image_tag' href='/v1/tags/objects?tag={{ . }}&otype=image'>#{{ . }}</a>
					{{- end }}
				
				</div>
				
				{{- /*------------------------------------------------------*/}}
				<div class="origin_page_url">
					<a href="{{ .image_origin_page_url_str }}" target="_blank">{{ .image_origin_page_url_str }}</a>
				</div>
				
				{{- /*------------------------------------------------------*/}}
				<div class="creation_time">{{ .creation_unix_time_str }}</div>
				<div class="owner_user_name">by <span>{{ .owner_user_name_str }}</span></div>
				
				{{/*--------------------------------------------------------------*/}}
			</div>
		{{end}}
	</div>
	<div id="right_space"></div>
</div>

{{/*------------------------------------------------------*/}}
<div id='sys_release_info'>
	<div id='version'>v <span>{{- .Sys_release_info.Version_str }}</span></div>
	<div id='description'>description <span>{{- .Sys_release_info.Description_str }}</span></div>
	<div id='git_commit'><a target="_blank" href='https://github.com/gloflow/gloflow/commit/{{- .Sys_release_info.Git_commit_str }}'>...{{- .Sys_release_info.GitCommitShortStr }}</a></div>
</div>

{{/*--------------------------------------------------------------*/}}
<script type="text/javascript" src="./../../../../../libs/js/system.min.js"></script>
<script type="text/javascript" src="./../../../../../libs/js/system_named_register_ext.js"></script> <!-- without this SystemJS extension modules dont load -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="./../../../../../libs/js/jquery.timeago.js"></script>
<script type="text/javascript" src="./../../../../../libs/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="./../../../../gf_core/ts/gf_image_upload.js"></script>
<script type="text/javascript" src="./../../ts/gf_tag_objects/gf_tag_objects.ts"></script>

<script>
	System.import('gf_apps/gf_tagger/ts/gf_tag_objects/gf_tag_objects').then(function(m){});
</script>

{{/*------------------------------------------------------*/}}
{{- /*SUBTEMPLATE*/}}
{{ if (call .Is_subtmpl_def "gf_footer")}}
	{{ template "gf_footer" }}
{{ end }}
{{- /*------------------------------------------------------*/}}
</body>
</html>