

















/*---------------------------*/
/*IMAGE_COLORS_INFO*/

#images .image_info .colors_info {
	top: -6px;
	left: 10px;
    position: relative;
	height: 50px;
}

.colors_info .color_dominant {
	height: 25px;
}
.colors_info .color_pallete {
	display: flex;
	height: 25px;
	width: 195px;

	top: 25px;
    position: absolute;
}
.colors_info .color_pallete .color {
	height: 25px;
	width:  25px;
	cursor: pointer;
}


/*COLOR_INSPECTOR*/
.colors_info .color_pallete .color_inspect {
	position: absolute;
    top: -87px;
	left: 65px;
    width: 63px;
	height: 78px;
	width: 63px;
    text-align: center;
	border-style: solid;
    border-width: 1px;
}


.colors_info .color_pallete .color_inspect .color_hex {
	position: absolute;
    font-size: 13px;
	background-color: white;
    width: 63px;
    text-align: center;
	padding-top: 1px;
}

.colors_info .color_pallete .color_inspect .color_large {
	width: 63px;
    height: 63px;
    top: 15px;
    position: absolute;
}









.colors_info .color_dominant_label {
	position: absolute;
    left: -118px;
    top: 0px;
    background-color: yellow;
    padding-left: 7px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    color: #8c8c3c;
	opacity: 0.8;
}

.colors_info .color_pallete_label {
	position: absolute;
    left: -99px;
    top: 25px;
    background-color: yellow;
    padding-left: 7px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    color: #8c8c3c;
	opacity: 0.8;
}