/*-------------------------------------------*/
/*humble beginnings...*/
#sys_release_info {
	position        : fixed;
	right           : 0px;
	bottom          : 0px;
	background-color: rgb(226, 226, 157);
	padding-left    : 8px;
	padding-top     : 6px;
	padding-right   : 5px;
	padding-bottom  : 3px;
	z-index         : 5000;
	width:   45px;
	height:  22px;
	opacity: 0.5;
}
#sys_release_info #version {
	text-align: right;
	font-size: 10px}

#sys_release_info #name {
	text-align: right;
	font-size: 10px;
}

#sys_release_info #description {
	visibility: hidden;
}

#sys_release_info #git_commit {
	position:  absolute;
	bottom:    1px;
	right:     10px;
	width:     35px;
	font-size: 10px;
}

#sys_release_info #git_commit a {
	text-decoration: none;
}