<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="/posts/static/css/gf_posts_stats.css">

    {{- /*-----------------------------------------------------*/}}
    <!-- directs fb to use the specified image when the page is shared -->
    <meta property="og:image" content="data/gf_landingpage_5.png"/> 
    <meta property="og:title" content="gloflow.com - a parallel space for artistic expression"/>

    <!-- canonical address  -->
    <meta property="og:url"       content="http://www.gloflow.com"/>
    <meta property="og:site_name" content="GloFlow"/>

    <meta property="og:type" content="culture"/>
    <meta property="og:type" content="art"/>
    <meta property="og:type" content="architecture"/>
    <meta property="og:type" content="design"/>
    <meta property="og:type" content="photography"/>
    <meta property="og:type" content="fashion"/>
    <meta property="og:type" content="music"/>
    <meta property="og:type" content="vr"/>
    {{- /*-----------------------------------------------------*/}}
</head>
<body>
{{/*-----------------------------------------------------*/}}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
{{/*------------------------------------------------------*/}}
<div id='sys_release_info'>
	<div id='version'>v <span>0.4.4</span></div>
	<div id='name'>name <span>raise</span></div>
</div>
{{/*------------------------------------------------------*/}}
</body>
</html>