


<html>
<head>

<!-- dont send 'referer' header in all http requests from this page (links/ajax) -->
<meta name="referrer" content="no-referrer"/>

<link rel="stylesheet" type="text/css" href="./../../../../../libs/css/nv.d3.css">
<!-- --------------------------------------------------------------- -->
<!-- JS_LIBS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="./../../../../../libs/js/jquery.timeago.js"></script>
<script type="text/javascript" src='./../../../../../libs/js/d3.v3.js'></script>
<script type="text/javascript" src='./../../../../../libs/js/nv.d3_1.8.3.js'></script>
<!-- --------------------------------------------------------------- -->
<!-- GF_CSS -->
<link rel="stylesheet" type="text/css" href="./../../css/gf_analytics_dashboard/gf_analytics_dashboard.css">
<link rel="stylesheet" type="text/css" href="./../../../../gf_stats/css/gf_stats.css">
<link rel="stylesheet" type="text/css" href="./../../../gf_crawl_lib/css/gf_crawl_stats/stats__crawl.css">
<link rel="stylesheet" type="text/css" href="./../../../gf_crawl_lib/css/gf_crawl_stats/stats__crawl_errors.css">
<link rel="stylesheet" type="text/css" href="./../../../gf_crawl_lib/css/gf_crawl_stats/stats__crawl_fetches.css">
<link rel="stylesheet" type="text/css" href="./../../../gf_crawl_lib/css/gf_crawl_stats/stats__crawl_images.css">
<link rel="stylesheet" type="text/css" href="./../../../gf_crawl_lib/css/gf_crawl_stats/stats__crawl_links.css">
<link rel="stylesheet" type="text/css" href="./../../../gf_crawl_lib/css/gf_crawl_stats/stats__crawl_images.css">
<link rel="stylesheet" type="text/css" href="./../../../../gf_core/css/gf_sys_panel.css">
<!-- --------------------------------------------------------------- -->
<!-- GF_JS -->
<script type="text/javascript" src='./../../ts/gf_analytics_dashboard/gf_analytics_dashboard.ts'></script>
<!-- --------------------------------------------------------------- -->

</head>
<body>

<div id="title">gf_images dashboard</div>

<div id="batch_stats">
	<div id="title">batch stats</div>
</div>

<div id="stats__gf_images">
	<div id="stats_title">gf_images stats</div>
	
	<div id="completed_image_jobs_runtime_infos">
		<div class="btn">completed_image_jobs_runtime_infos</div>
	</div>

	<div id="image_jobs_errors">
		<div class="btn">image_jobs_errors</div>
	</div>
</div>

<div id="stats__gf_crawl">
	<div id="stats_title">gf_crawl stats</div>
		
	<div id="get_crawled_images_domains_btn">get crawled_images_domains</div>
	
	<div id="images">
		<div id="title">images</div>
		<div id="gifs">
			<div id="title">gif</div>
			<div id="get_gif_main_stats_btn"><span>main</span></div>
			<div id="get_gifs_per_day_stats_btn"><span>per_day</span></div>
		</div>
	</div>

	<div id="fetches">
		<div id="title">fetches</div>
		<div id="get_new_fetches_per_day_stats_btn">get <span>fetches_per_day</span> stats</div>
	</div>

	<div id="links">
		<div id="title">links</div>
		<div id="get_new_links_per_day_stats_btn"><span>new_links_per_day</span></div>
		<div id="get_unresolved_links_stats_btn"><span>unresolved_links</span></div>
	</div>
</div>
	
{{- /*------------------------------------------------------*/}}
<div id='sys_release_info'>
	<div id='version'>v <span>{{- .Sys_release_info.Version_str }}</span></div>
	<div id='name'>name <span>{{- .Sys_release_info.Name_str }}</span></div>
	<div id='description'>description <span>{{- .Sys_release_info.Description_str }}</span></div>
	<div id='git_commit'>git_commit <span>{{- .Sys_release_info.Git_commit_str }}</span></div>
</div>
{{- /*------------------------------------------------------*/}}
{{- /*SUBTEMPLATE*/}}
{{ if (call .Is_subtmpl_def "gf_footer")}}
	{{ template "gf_footer" }}
{{ end }}
{{- /*------------------------------------------------------*/}}
</body>
</html>