

$bookmarks_btn_height: 44px;

//------------------------------------------------------------
#bookmarks {
	position: absolute;
    top:      0px;
    left:     535px;

    //------------------------------------------------------------
    // BOOKMARKS BUTTON
    #bookmarks_browser_button {
        position: fixed;
        top: 0px;
        width: 37px;
        height: $bookmarks_btn_height;
        
        font-size: 12px;
        color: white;
        background-color: rgb(37, 172, 48);
        z-index: 2;
        text-decoration: none;
        transition: background-color 0.2s ease;
        cursor: pointer;

        filter: saturate(0.5);
        // box-shadow: 1px 1px 10px grey;
        border-radius: 0px 0px 6px 6px;

        &:hover {
            cursor          : pointer;
            background-color: gray;
            color           : black;
        }

        &:active {
            cursor          : pointer;
            opacity         : 1.0;  
            background-color: white;
            color           : black;
        }
    }

    //------------------------------------------------------------
}