

$bookmarks_btn_height: 55px;


#bookmarks {
	position: absolute;
    top:      0px;
    left:     535px;
}

/*------------------------------------------------------------*/
/*BOOKMARKS BUTTON*/

#bookmarks #bookmarks_browser_button {
	position: fixed;
    top: 0px;
    width: 37px;
    height: $bookmarks_btn_height;
    // padding-top: 18px;
    // text-align: center;
    font-size: 12px;
    color: white;
    background-color: rgb(37, 172, 48);
    z-index: 2;
    // display: block;
    text-decoration: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
#bookmarks #bookmarks_browser_button:hover {
	cursor          : pointer;
	background-color: gray;
	color           : black;
}
#bookmarks #bookmarks_browser_button:active {
	cursor          : pointer;
	opacity         : 1.0;  
	background-color: white;
	color           : black;
}