


$domains_btn_height: 44px;

#domains {
	position: absolute;
    top:      0px;
    left:     417px;

    //------------------------------------------------------------
    // DOMAINS BUTTON

    #domains_browser_button {
        position: fixed;
        top: 0px;
        width: 110px;
        height: $domains_btn_height;
        // padding-top: 18px;
        // text-align: center;
        font-size: 12px;
        color: white;
        background-color: rgb(171, 60, 60);
        z-index: 2;
        // display: block;
        text-decoration: none;
        transition: background-color 0.2s ease;
        cursor: pointer;

        filter: saturate(0.5);
        // box-shadow: 1px 1px 10px grey;
        border-radius: 0px 0px 6px 6px;

        &:hover {
            cursor          : pointer;
            background-color: gray;
            color           : black;
        }

        &:active {
            cursor          : pointer;
            opacity         : 1.0;  
            background-color: white;
            color           : black;
        }
    }

    //------------------------------------------------------------
}