

$images_background_color: #3b7c9c1c; // #3b7c9c1c;
$images_color:            rgb(59, 124, 156);
$images_btn_height: 44px;

#images {
	position: absolute;
    top: 0px;
    left: 0px;

	width:  409px;
    // height: 10000px;
    // background-color: $images_background_color;

	//------------------------------------------------------------
	// IMAGES BUTTON
	#images_flows_button {
		position:         fixed;
		top:              0px;
		width:            409px;
		height:           $images_btn_height;
		font-size:        16px;
		
		color:            white;
		background-color: $images_color; // rgb(59, 124, 156);
	
		z-index:         2;
		text-decoration: none;
		transition:      background-color 0.2s ease;
		cursor:          pointer;

		filter: saturate(1.5);
		// box-shadow: 1px 1px 10px grey;
		border-radius: 0px 0px 6px 6px;

		&:hover {
			cursor:           pointer;
			background-color: gray;
			color:            black;
		}
		&:active {
			background-color: white;
			color:            black;
		}
	}

	//------------------------------------------------------------
	// FEATURED_IMAGES
	#featured_images_0 {
		position: absolute;
		top:      52px;
	}

	#featured_images_1 {
		position: absolute;
		top:      52px;
		left:     209px;
	}

	//------------------------------------------------------------
}

//------------------------------------------------------------
/*
// IMAGE_INFO

#images {
	
	.image_info {
		width: 190px;
		background-color: $images_color; // rgb(59, 124, 156);
		padding-bottom:   5px;
		margin-bottom:    10px;
		position:         relative;

		box-shadow: 1px 1px 10px grey;

		border-radius: 6px 6px 6px 6px;
    	overflow: hidden;

		.image {
			width:    190px;
			position: relative;
			background-color: inherit;

			.image_resource {
				width:  100%;
				cursor: pointer;
			}
		}

		.image_title {
			background-color: $images_color; // rgb(59, 124, 156);
		
			padding-left:   5px;
			padding-top:    6px;
			padding-bottom: 6px;
			padding-right:  4px;
		
			font-size:  10px;
			text-align: center;
			word-wrap:  break-word; // make all text display even if really long string
			color:      rgb(255,255,255);
		}

		.tags_container:emtpy {
			height: 0px;
		}

		.origin_page_url {
			padding-top     : 1px;
			padding-bottom  : 6px;
			text-align      : center;
			background-color: $images_color;
			width           : 171px;
			padding-left    : 9px;
			padding-right   : 10px;

			a {
				font-size      : 12px;
				font-weight    : bold;
				color          : white;
				text-decoration: none;
				word-wrap      : break-word;
			}
		}

		.owner_user_name {
			font-size: 10px;
			color: white;
			text-align: center;
			padding-top: 3px;

			span {
				font-weight: bold;
				font-size: 12px;
			}
		}

		.creation_time {
			text-align:  center;
			font-size:   12px;
			color:       white;
			cursor:      pointer;
			// padding-top: 5px;

			&:hover {
				font-weight: bold;
			}
		}
	}
}
*/