


#posts {
	position: absolute;
    left: 418px;
    top: 0px;
    width: 216px;
    height: 3361px;
    background-color: #f3774224;
}

/*------------------------------------------------------------*/
/*POSTS BUTTON*/

#posts #posts_browser_button {
	position        : fixed;
	top             : 0px;
	width           : 216px;
	height          : 38px;
	padding-top     : 17px;
	text-align      : center;
	font-size       : 18px;
	color           : white;
	background-color: rgb(233, 122, 60);

	z-index         : 2;
	display         : block;
	text-decoration : none;
	transition      : background-color 0.2s ease;
	cursor          : pointer;
}
#posts #posts_browser_button:hover {
	cursor          : pointer;
	background-color: gray;
	color           : black;
}
#posts #posts_browser_button:active {
	background-color: white;
	color:            black;
}

/*------------------------------------------------------------*/
/*POSTS*/

#posts #featured_posts {
	position: absolute;
	top     : 65px;
}