body {
	margin:      0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;
}




#bookmarks {
	position: absolute;
	top: 55px;
}



.bookmark {
	background-color: #a9eaa9;
    margin-bottom: 5px;

	
}

.bookmark .url {
	padding-left: 5px;
    font-weight: bold;
}

.bookmark .description {
	font-size: 13px;
}