


/*-------------------------------------------------------*/
/* TAGGING CONTROLS */
.tagging_controls {
    width: 62px;
    right: 0px;
    top: 15px;
    position: absolute;
   
    font-size: 12px;
    cursor: pointer;
}


.tagging_controls .add_tags_button {
    right: 0px;
    width: 62px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 7px;
    background-color: gray;
    position: absolute;
    top: 0px;
}
.tagging_controls .add_tags_button:hover{
    background-color: white;
}

.tagging_controls .add_notes_button {
    right: 0px;
    width: 62px;
    position: absolute;
    top: 30px;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 7px;
}
.tagging_controls .add_notes_button:hover{
    background-color: white;
}

/*-------------------------------------------------------*/
/* TAGGING_INPUT_CONTAINER */

#tagging_input_container {
	padding-top   : 0px;
	padding-bottom: 0px;
	width : 498px;
	height: 150px;
    z-index: 2;
}
#tagging_input_container #background {
	background-color: rgba(0,0,0,0.8);
    width: 498px;
    height: 150px;
    position: relative;
    top: 0px;
    left: 0px;
}
#tagging_input_container input {
	
	font-size: 14px;
    position: absolute;
    top: 35px;
    left: 37px;
    width: 300px;
    height: 40px;
    background-color: lightgray;
    padding: 6px;
    
    border: none;
    outline: none;
    box-shadow: none;
}
#tagging_input_container input:focus {
    outline: none;
}

#tagging_input_container #submit_btn {
	float: left;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 35px;
    left: 337px;
    background-color: gray;
    color: #565656;
    cursor: pointer;
    font-size: 40px;
    padding: 0 !important;
    
    width: 50px;
    height: 80px;
}
#tagging_input_container #submit_btn:hover {
	background-color: rgb(221, 221, 221);
}

/*-------------------------------------------------------*/
/* GENERATE_BTN */

#generate_btn {
    color: #565656;
    background-color: orange;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 75px;
    left: 297px;
    font-size: 14px;
    cursor: pointer;
}
#generate_btn:hover {
	background-color: rgb(221, 221, 221);
}

#generated_tags {
    position: absolute;
    top: 81px;
    right: 206px;

    width: 256px;
    height: 61px;

    /* FLEX_BOX*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Aligns items to the right side of the container */
    /* justify-content: space-between; */
}

#generated_tags .tag_gen {
    height: 18px;
    margin-right: 8px;

    cursor: pointer;
}
#generated_tags .tag_gen:hover {
    background-color: rgb(221, 221, 221);
}

/*-------------------------------------------------------*/
/* ACCESS_CONTROL */

#tagging_access_control {
    position: absolute;
    width: 70px;
    height: 55px;
    top: 35px;
    left: 387px;

    font-size: 14px;
    text-align: center;
}

#tagging_access_control #public_btn {
    width: 70px;
    height: 25px;
    background-color: #07d0ff;
    padding-top: 2px;
    cursor: pointer;
}
#tagging_access_control #public_btn:hover {
	background-color: rgb(221, 221, 221);
}

#tagging_access_control #private_btn {
    width: 70px;
    height: 25px;
    background-color: 88ecff;
    position: absolute;
    top: 30px;
    padding-top: 2px;
    cursor: pointer;
}
#tagging_access_control #private_btn:hover {
	background-color: rgb(221, 221, 221);
}

/*-------------------------------------------------------*/
.gf_tag {
    background-color: lightgray;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 12px;
}
/*needed for the tag element to have the width of the text in it, and from there
to have proper animations that depend on its width being the same as its text*/
.auto-width {
    display: inline-block; /* or inline-flex */
    white-space: nowrap;   /* prevents the text from breaking into the next line */
}

/*-------------------------------------------------*/
/* ANIMATIONS */
.bubble-in {
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 50%;
    animation: bounce 0.2s ease-out forwards;
}

.bubble-in.animate {
    opacity: 1;
    transform: scale(1);
}

@keyframes bounce {
    0% {
    transform: scale(0);
    opacity: 0;
    }
    50% {
    transform: scale(1.2);
    opacity: 1;
    }
    100% {
    transform: scale(1);
    opacity: 1;
    }
}

/*-------------------------------------------------*/