<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>gloflow - p2p status</title>

    <link rel="stylesheet" type="text/css" href="/v1/p2p/static/css/gf_p2p_status.css"/>
    <link rel="stylesheet" type="text/css" href="/v1/p2p/static/css/gf_sys_release_info.css"/>
</head>

<body>
    <div id="main_title"> GF p2p net status:</div>


    <div>
        <div id="libp2p_rendezvous_symbol">rendezvous symbol <span>{{- .P2Pstatus.RendezvousSymbolStr }}</span></div>
        <div id="libp2p_protocol_id">protocol ID <span>{{- .P2Pstatus.ProtocolIDstr }}</span></div>
        <div id="libp2p_dht_mode">DHT mode <span>{{- .P2Pstatus.DHTmodeInt }}</span></div>

        <div id="libp2p_bootstrap_peers">
            <div id="title">libp2p bootstrap peers</div>
            <div id="peers">
                {{- range .P2Pstatus.BootstrapPeers }}
                <div class="peer">
                    <div class="peer_id">peer ID <span>{{ .IDstr }}</span></div>
                    <div class="peer_addrs">
                        {{- range .MultiaddrsLst }}
                            <div class="peer_addr">peer multiaddr <span>{{- . }}</span></div>
                        {{- end }}
                    </div>
                </div>
                {{- end }}
            </div>
        </div>

        <div id="libp2p_peerstore">
            <div id="title">libp2p peerstore</div>
            <div id="peers_num">peers number <span>{{ .P2Pstatus.PeersNumberInt }}</span></div>
            <div id="peers">
                {{- range .P2Pstatus.PeersIDsLst }}
                <div class="peer">
                    <div class="peer_id">peer ID <span>{{ . }}</span></div>
                </div>
                {{- end }}
            </div>
        </div>

    </div>

    {{- /*-----------------------------------------------------*/}}
    <div id='sys_release_info'>
		<div id='version'>v <span>{{- .SysReleaseInfo.Version_str }}</span></div>
		<div id='name'>name <span>{{- .SysReleaseInfo.Name_str }}</span></div>
		<div id='description'>description <span>{{- .SysReleaseInfo.Description_str }}</span></div>
		<div id='git_commit'>Git commit <a target="_blank" href='https://github.com/gloflow/gloflow/commit/{{- .SysReleaseInfo.Git_commit_str }}'>{{- .SysReleaseInfo.Git_commit_str }}</a></div>
	</div>

    {{- /*-----------------------------------------------------*/}}
</body>
</html>