<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>gloflow - p2p status</title>

    <link rel="stylesheet" type="text/css" href="/v1/p2p/static/css/gf_p2p_status.css"/>
</head>

<body>
    <div> GF p2p net status:</div>


    <div>
        <div id="libp2p_rendezvous_symbol">{{- .P2pStatus.RendezvousSymbolStr }}</div>
        <div id="libp2p_protocol_id">{{- .P2pStatus.ProtocolIDstr }}</div>

        <div id="libp2p_bootstrap_peers">
            <div id="title">libp2p bootstrap peers</div>
            <div id="peers">
                {{- range .P2pStatus.BootstrapPeers }}
                <div class="peer">
                    <div class="peer_id">{{ .IDstr }}</div>
                    <div class="peer_addrs">
                        {{- range .MultiaddrsLst }}
                            <div class="peer_addr">{{- . }}</div>
                        {{- end }}
                    </div>
                </div>
                {{- end }}
            </div>
        </div>

    </div>

    {{- /*-----------------------------------------------------*/}}
    <div id='sys_release_info'>
		<div id='version'>v <span>{{- .SysReleaseInfo.Version_str }}</span></div>
		<div id='name'>name <span>{{- .SysReleaseInfo.Name_str }}</span></div>
		<div id='description'>description <span>{{- .SysReleaseInfo.Description_str }}</span></div>
		<div id='git_commit'>Git commit <a target="_blank" href='https://github.com/gloflow/gloflow/commit/{{- .SysReleaseInfo.Git_commit_str }}'>{{- .SysReleaseInfo.Git_commit_str }}</a></div>
	</div>

    {{- /*-----------------------------------------------------*/}}
</body>
</html>