body {
	margin:      0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}

#home_container {
	position: absolute;
}

/*------------------------------------------------------------------*/
/*PROFILE_IMAGE*/
#profile_image {
	position: absolute;
	background-color: #e3b91a;
	width: 100px;
	height: 100px;
	padding: 16px;
}
#profile_image .image_preview {
	width: 100%;
	height: auto;
	object-fit: cover;

	user-drag: none;
    user-select: none;
}

/*------------------------------------------------------------------*/
/*NAMES*/
#home_container #names {
	background-color: #ffcc0e;
    width: 119px;
    height: 18px;
    position: absolute;
	padding: 6px;
	padding-left: 7px;
	font-size: 16px;
	color: #00000063;

	font-family: "IBM Plex Sans", sans-serif;
}

/*------------------------------------------------------------------*/
/*MY_ETH_ADDRESSES*/
#home_container #my_eth_addresses {
	position: absolute;
    width: 132px;
    
	height: 100px;
    background-color: #bfaa5a;
}

#home_container #my_eth_addresses #title {
	font-size: 10px;
    text-align: center;
    padding-top: 4px;
    color: #786c3b;
}

#home_container #my_eth_addresses .add_initial_address_btn {
	position: absolute;
    left: 23%;
    top: 17%;
	cursor: pointer;
}

#home_container #my_eth_addresses .add_new_address_btn {
	position: absolute;
    top: 0px;
    right: -52px;
    width: 26px;
    height: 26px;
    background-color: #897941;
	cursor: pointer;

	box-shadow: 9px 0px 11px #0000007a;
}
#home_container #my_eth_addresses .add_new_address_btn:hover {
	background-color: white;
}
#home_container #my_eth_addresses .add_new_address_btn img {
	width: 100%;
    height: auto;
	user-select: none;
}

/*------------------------------------------------------------------*/
/*OBSERVED_ETH_ADDRESSES*/
#home_container #observed_eth_addresses {
	position: absolute;
	width: 132px;
	height: 100px;
	background-color: #8d8051;
}

#home_container #observed_eth_addresses #title {
	font-size: 10px;
    text-align: center;
    padding-top: 4px;
    color: #524a2a;
}

#home_container #observed_eth_addresses .add_initial_address_btn {
	position: absolute;
    left: 23%;
    top: 17%;
	cursor: pointer;
}

#home_container #observed_eth_addresses .add_new_address_btn {
	position: absolute;
    top: 0px;
    right: -52px;
    width: 26px;
    height: 26px;
    background-color: #897941;
	cursor: pointer;

	box-shadow: 9px 0px 11px #0000007a;
}
#home_container #observed_eth_addresses .add_new_address_btn:hover {
	background-color: white;
}
#home_container #observed_eth_addresses .add_new_address_btn img {
	width: 100%;
    height: auto;
	user-select: none;
}

#home_container #observed_eth_addresses .eth_address {
	background-color: #8d8051;
}

/*------------------------------------------------------------------*/
/*ETH_ADDRESS*/
.eth_address {
	position: relative;
	background-color: #bfaa5a;
	height: 26px;
	cursor: pointer;
}
.eth_address .hex_address {
	font-size: 12px;
    padding-left: 7px;
    padding-top: 6px;
}

.eth_address .etherscan_btn {
	width: 26px;
    height: 23px;
    background-color: #a9964f;
    right: -26px;
    position: absolute;
    top: 0px;
    text-align: center;
    padding-top: 3px;
	color: white;
	cursor: pointer;

	box-shadow: 9px 0px 11px #0000007a;
}
.eth_address .etherscan_btn:hover {
	background-color: gray;
}
.eth_address .etherscan_btn a {
	text-decoration: none;
	color: white;
}

.eth_address_input {
	position: relative;
	height: 26px;
	width: 350px;
	background-color: #bfaa5a;
}
.eth_address_input input {
	margin-top: 2px;
    margin-left: 3px;

    width: 336px;
    font-size: 14px;
}

.eth_address_input .confirm_btn {
	position: absolute;
    top: 0px;
    right: -26px;
    width: 26px;
    height: 26px;
    background-color: #897941;
	cursor: pointer;

	box-shadow: 9px 0px 11px #0000007a;
}
.eth_address_input .confirm_btn:hover {
	background-color: white;
}

.eth_address_input .confirm_btn img {
	position: relative;
    width: 100%;
    height: 100%;
	user-select: none;
}

/*------------------------------------------------------------------*/
/*COLOR_PICKER*/
#background_color_picker {
	background-color: #d1bf7d;
    padding: 11px;
    position: absolute;
}
#background_color_picker #picked_color {
	text-align: center;
    font-size: 14px;
    padding-top: 7px;
    color: #545454;
}