




#bookmarks {
	position: absolute;
    top:      0px;
    left:     794px;
}

/*------------------------------------------------------------*/
/*IMAGES BUTTON*/

#bookmarks #bookmarks_browser_button {
	position: fixed;
    top: 0px;
    width: 37px;
    height: 37px;
    padding-top: 18px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(37, 172, 48);
    z-index: 2;
    display: block;
    text-decoration: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
#bookmarks #bookmarks_browser_button:hover {
	cursor          : pointer;
	background-color: lightgray;
	color           : black;
}
#bookmarks #bookmarks_browser_button:active {
	cursor          : pointer;
	opacity         : 1.0;  
	background-color: white;
	color           : black;
}