body {
	margin:      0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}

/*------------------------------------------------------------*/
#left_section {
	position: fixed;
	top:      100px;
	width:    20%;
}
#left_section #gf_logo {
	position      : relative;
	left          : 10px;
    padding-bottom: 8px;
    width: 97%;
}

#left_section #gf_logo img {
	width: 100%;
}

#left_section #randomized_art {
	position: relative;
	left:     10px;
	background-color: lightgray;
	width:97%;
	height:400px;
}
#left_section #randomized_art canvas {
	position: relative;
}


#right_section {
	position: relative;
	left:     25%;
}

@media (max-width: 600px) {
	#right_section {
		left: 10%;
	}

	#left_section #gf_logo {
		visibility: hidden;
	}

	#left_section #randomized_art {
		visibility: hidden;
	}
}

#about_section #label:hover {
	opacity: 0.8;
}

/*------------------------------------------------------------*/
.randomized_canvas {
	position: fixed;
}