body {
	margin:      0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}

/*------------------------------------------------------------*/
#left_section {
	position: fixed;
	top:      100px;
	width:    20%;
}
#left_section #gf_logo {
	position      : relative;
	left          : 10px;
    padding-bottom: 8px;
    width: 97%;
}

#left_section #gf_logo img {
	width: 100%;
}

#left_section #randomized_art {
	position: relative;
	left:     10px;
	background-color: lightgray;
	width:97%;
	height:400px;
}
#left_section #randomized_art canvas {
	position: relative;
}


#right_section {
	position: relative;
	left:     25%;
}

@media (max-width: 600px) {
	#right_section {
		left: 10%;
	}

	#left_section #gf_logo {
		visibility: hidden;
	}

	#left_section #randomized_art {
		visibility: hidden;
	}
}

#about_section #label:hover {
	opacity: 0.8;
}

/*------------------------------------------------------------*/
/* AUTH */
#auth_me {
	position: absolute;
	top:    0px;
	left:   806px;
	width:  54px;
	height: 54px;
	text-align:       center;
	background-color: rgb(198, 196, 195);
	cursor:           pointer;
	color:            gray;
}

#auth_me #current_user {
	width: 54px;
	height: 54px;
	padding-top: 14px;
}

#auth_me #current_user img {
	width:    100%;
    position: relative;
    top:      -14px;
}

/*-------------------------------------------*/
/* CODE_EDITOR */

#code_editor {
	position: fixed;
    bottom: 5px;
    left: 0px;
    width: 20px;
    height: 16px;
    background-color: gray;
    z-index: 10;
    font-size: 10px;
    text-align: center;
    padding-top: 4px;
}
#code_editor a {
    text-decoration: none;
}

/*------------------------------------------------------------*/
.randomized_canvas {
	position: fixed;
}