



#images {
	position: absolute;
    top: 0px;
    left: 0px;
}

/*------------------------------------------------------------*/
/*IMAGES BUTTON*/

#images #images_flows_button {
	position        : fixed;
	top             : 0px;
	width           : 216px;
	height          : 42px;
	padding-top     : 13px;
	text-align      : center;
	font-size       : 25px;
	color           : white;
	background-color: rgb(59, 124, 156);

	z-index         : 2;
	display         : block;
	text-decoration : none;
	transition      : background-color 0.2s ease;
	cursor          : pointer;
}
#images #images_flows_button:hover {
	cursor          : pointer;
	background-color: lightgray;
	color           : black;
}

/*------------------------------------------------------------*/
#images #featured_images {
	position: absolute;
	top     : 65px;
}

/*------------------------------------------------------------*/
/*IMAGE_VIEW*/

#image_view #background {
	background-color:black;
	opacity         :0.6;
	position        :absolute;
	top             :0px;
	left            :0px;
	width           :100%;
	height          :100%;

	z-index: 2;
}

#image_view #image_detail {
	z-index: 3;
}

/*------------------------------------------------------------*/
/*IMAGE_INFO*/

#images .image_info {
	background-color: rgb(59, 124, 156);
	padding-bottom  : 6px;
	margin-bottom   : 10px;

	/*border      : solid;
	border-color: white;
	border-width: 1px;*/
	position    : relative;
}

#images .image_info .image {
	width   : 195px;
	position: relative;
	padding-bottom: 8px;
}

#images .image_info .image img {
	width       : 100%;
	padding-left: 10px;
	cursor      : pointer;
}

/*---------------------------*/
/*IMAGE_COLORS_INFO*/

/*#images .image_info .colors_info {
	top: -6px;
	left: 10px;
    position: relative;
	height: 50px;
}

.colors_info .color_dominant {
	height: 25px;
}
.colors_info .color_pallete {
	display: flex;
	height: 25px;
	width: 195px;

	top: 25px;
    position: absolute;
}
.colors_info .color_pallete .color {
	height: 25px;
	width:  25px;
	cursor: pointer;
}*/

/*COLOR_INSPECTOR*/
/*.colors_info .color_pallete .color_inspect {
	position: absolute;
    top: -87px;
	left: 65px;
    width: 63px;
	height: 78px;
	width: 63px;
    text-align: center;
	border-style: solid;
    border-width: 1px;
}


.colors_info .color_pallete .color_inspect .color_hex {
	position: absolute;
    font-size: 13px;
	background-color: white;
    width: 63px;
    text-align: center;
	padding-top: 1px;
}

.colors_info .color_pallete .color_inspect .color_large {
	width: 63px;
    height: 63px;
    top: 15px;
    position: absolute;
}




.colors_info .color_dominant_label {
	position: absolute;
    left: -118px;
    top: 0px;
    background-color: yellow;
    padding-left: 7px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    color: #8c8c3c;
	opacity: 0.8;
}

.colors_info .color_pallete_label {
	position: absolute;
    left: -99px;
    top: 25px;
    background-color: yellow;
    padding-left: 7px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    color: #8c8c3c;
	opacity: 0.8;
}*/

/*---------------------------*/
#images .image_info .image_title {
	background-color: rgb(59, 124, 156);

	padding-left    : 5px;
	padding-top     : 6px;
	padding-bottom  : 6px;
	padding-right   : 4px;

	font-size : 11px;
	/*width     : 206px;*/
	text-align: center;
	word-wrap : break-word; /*make all text display even if really long string*/
	color     : rgb(255,255,255);
}

#images .image_info .creation_time {
	text-align : center;
    padding-top: 6px;
    font-size  : 12px;
    color      : white;
}

#images .image_info .origin_page_url {
	padding-top     : 6px;
	padding-bottom  : 6px;
	text-align      : center;
    background-color: #669ab3;
    width           : 197px;
    padding-left    : 9px;
    padding-right   : 10px;
}
#images .image_info .origin_page_url a {
	font-size      : 12px;
	font-weight    : bold;
    color          : white;
	text-decoration: none;
	word-wrap      : break-word;
}

#images .image_info .creation_time {
	cursor:pointer;
}
#images .image_info .creation_time:hover {
	font-weight: bold;
}
#images .image_info .creation_time .full_creation_date {
	background-color: #3992bd;
    color: #1d3d4c;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 4px;
}