


#identity {
    position: fixed;
    right: 8px;
    bottom: 64px;
}
#identity #login {
    position: absolute;
    right: 0px;
    background-color: white;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/*------------------------------------------------------------*/
/*WALLET_PICK_DIALOG*/
#identity #wallet_pick_dialog {
    position: absolute;
    top: -53px;
    right: 0px;
    background-color: white;
    width: 198px;
}

#identity #wallet_pick_dialog #metamask {
    cursor: pointer;
}
#identity #wallet_pick_dialog #metamask:hover {
    background-color: rgb(141, 141, 141);
}
#identity #wallet_pick_dialog #metamask #icon {
    width: 50px;
    height: 48px;
}

#identity #wallet_pick_dialog #metamask #descr {
    position: absolute;
    top: 18px;
    left: 54px;
    font-size: 12px;
}

/*------------------------------------------------------------*/
/*CREATE_USER_DIALOG*/

#identity #create_user_dialog {
    position: absolute;
    top:      -56.3px;
    left:     -162px;
    width:    162px;
    background-color: white;
}

#identity #create_user_dialog #descr {
    text-align:  center;
    padding-top: 3px;
    font-size:   13px;
}

#identity #create_user_dialog #confirm_btn {
    text-align:       center;
    background-color: #bfbfbf;
    padding-top:      8px;
    padding-bottom:   5px;
    cursor:           pointer;
}
#identity #create_user_dialog #confirm_btn:hover {
    background-color: #cecece;
}

/*------------------------------------------------------------*/
/*UPDATE_USER_DIALOG*/

#identity #update_user_dialog {
    position: absolute;
    top: -211px;
    right: 0px;

    background-color: white;
    height: 190px;
    width: 230px;

    padding-top: 5px;
    
    text-align: center;
    /*border-radius: 10px;*/
}

#identity #update_user_dialog #dialog_label {
    font-size: 10px;
    color: gray;
}

#identity #update_user_dialog .label {
    font-size: 12px;
}

#identity #update_user_dialog div#username {
    margin-top: 4px;
    margin-bottom: 1px;
}

#identity #update_user_dialog #email {
    margin-bottom: 2px;
}

#identity #update_user_dialog #description {
    margin-bottom: 8px;
}
#identity #update_user_dialog #description textarea#description_input {
    height: 40px;
    width: 200px;
}

#identity #update_user_dialog #confirm_btn {
    background-color: gray;
    height: 20px;
    padding-top: 10px;

    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/

    cursor: pointer;
}

#identity #update_user_dialog #confirm_btn:hover {
    background-color: lightgray;
}