body {
	margin:      0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}
/*----------------------------------------------------------*/
#welcome .label {
	padding-top: 11px;
	padding-left: 11px;
	color: #a2a2a2;
}

/*----------------------------------------------------------*/
/*USERS_LIST*/

#users_list {
	background-color: #b9b9b9;
	width: 690px;
	height: 250px;
	position: absolute;
	left: 40px;
	top: 110px;
	padding: 13px;
}

#users_list #title {
	text-align: center;
	font-size: 13px;
	color: #575757;
}

#users_list #current {
	position: absolute;
	top: 35px;
}
#users_list #current .user {
	background-color: #12b9fb;
	position: relative;
	width: 680px;
	height: 22px;
	padding: 5px;
	padding-bottom: 5px;
	padding-bottom: 0px;
	
	border-bottom: 0.5px #0ea1db solid;
}
#users_list #current .user .user_name {
	position: absolute;
}
#users_list #current .user .email {
	position: absolute;
	left: 100px;
	font-size: 10px;
	padding-top: 2px;
}
#users_list #current .user .creation_time {
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 10px;
	padding-top: 3px;
	padding-right: 5px;
}

#users_list #current .user .resend_email_confirm_btn {
	position: absolute;
	left: 310px;
	font-size: 10px;
	background-color: #1ea4d9;
	padding: 2px;
	padding-right: 2px;
	padding-left: 2px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

#users_list #current .user .email_confirmed {
	position: absolute;
	left: 310px;
	font-size: 10px;
	background-color: green;
	padding: 2px;
	padding-right: 2px;
	padding-left: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#users_list #current .user .delete_btn {
	background-color: red;
	width: 48px;
	left: 488px;
	position: absolute;
	font-size: 10px;
	padding-left: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	top: 3px;
	cursor: pointer;
}

/*----------------------------------------------------------*/
/*INVITE_LIST*/

#invite_list {
	background-color: #b9b9b9;
	width: 263px;
	height: 250px;
	position: absolute;
	right: 191px;
	top: 110px;
	padding: 13px;
}

#invite_list #title {
	text-align: center;
	font-size: 13px;
	color: #575757;
}

#invite_list #add_new {
	position: absolute;
	top: 35px;
	width: 263px;
	height: 35px;
}
#invite_list #add_new #new_email {
	position: absolute;
}
#invite_list #add_new #new_email input {
	height: 29px;
}
#invite_list #add_new #confirm_btn {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: orange;
	padding: 3px;
	padding-top: 3px;
	font-size: 12px;
	cursor: pointer;
	width: 50px;
	height: 21px;
	text-align: center;
	padding-top: 11px;
}


#invite_list #current {
	position: absolute;
	top: 70px;
	width: 264px;
}
#invite_list #current .invite {
	background-color: gray;
	position: relative;
	width: 253px;
	height: 22px;
	padding: 5px;
	padding-bottom: 0px;
}
#invite_list #current .invite .email {
	font-size: 10px;
	position: absolute;
}
#invite_list #current .invite .creation_time {
	position: absolute;
	right: 0px;
	font-size: 10px;
	padding-top: 3px;
	padding-right: 5px;
}
#invite_list #current .invite .remove_btn {
	right: 70px;
	position: absolute;
	background-color: red;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	cursor: pointer;
	top: 3px;
	color: white;
}