body {
	margin:      0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}

#welcome {
	position: absolute;
    top: 120px;
    left: 46%;
    background-color: gray;
    padding: 21px;
    color: white;
    user-select: none;
    font-size: 11px;
}