body {
	margin:      0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}
/*----------------------------------------------------------*/
#welcome .label {
	padding-top: 11px;
	padding-left: 11px;
	color: #a2a2a2;
}

/*----------------------------------------------------------*/
/*INVITE_LIST*/

#invite_list {
	background-color: #acacac;
	width: 268px;
	height: 250px;
	position: absolute;
	right: 191px;
	top: 110px;
	padding: 13px;
}

#invite_list #title {
	text-align: center;
	font-size: 13px;
	color: #575757;
}

#invite_list #add_new {
	position: absolute;
}
#invite_list #add_new #confirm_btn {
	position: absolute;
	top: 0px;
	right: -25px;
	background-color: orange;
	padding: 3px;
	font-size: 12px;
	cursor: pointer;
}


#invite_list #current {
	position: absolute;
	top: 60px;
}
#invite_list #current .invite {
	background-color: gray;
	position: relative;
	width: 230px;
	height: 22px;
	padding: 5px;
	padding-bottom: 5px;
	padding-bottom: 0px;
}
#invite_list #current .invite .email {
	position: absolute;
}
#invite_list #current .invite .creation_time {
	position: absolute;
	right: 0px;
	font-size: 10px;
	padding-top: 3px;
	padding-right: 5px;
}