body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:      0;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}

/*----------------------------------------------------------*/
#gf_images_flow_container {
	margin-left: 6px;
	position:    relative;
	top:         100px;
	left:        18px;
}

#gf_images_flow_container #flow_info {
	position: fixed;
    top: 55px;
    left: 0px;
    background-color: #f7f7f7;
    padding-left: 9px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 11px;
    font-size: 21px;
	z-index: 10;
}

/*small_view*/
#gf_images_flow_container .gf_image.small_view {
	position:         relative;
	float:            left;
	text-align:       center;
	background-color: rgb(59, 124, 156);
	margin:           6px;
	width:            200px;
	padding:          10px;
	box-shadow:       1px 1px 10px grey;
	
	/*elements are not initially visible, but instead become visible
	after masonry finishes their layout*/
	visibility: false; 
}

/*medium_view*/
#gf_images_flow_container .gf_image.medium_view {
	position:         relative;
	float:            left;
	text-align:       center;
	background-color: rgb(59, 124, 156);
	margin:           6px;
	width:            400px;
	padding:          10px;
	box-shadow:       1px 1px 10px grey;
	
	/*elements are not initially visible, but instead become visible
	after masonry finishes their layout*/
	visibility: false; 
}

#gf_images_flow_container .gf_image img {
	width : 100%;
    cursor: pointer;
}

/*small_view*/
#gf_images_flow_container .gf_image.small_view .origin_page_url {
	padding-top:      6px;
    padding-bottom:   6px;
    text-align:       center;
    background-color: #669ab3;
    width:            180px;
    padding-left:     9px;
    padding-right:    11px;
	margin-top:       -4px;
}

/*medium_view*/
#gf_images_flow_container .gf_image.medium_view .origin_page_url {
	padding-top:      6px;
    padding-bottom:   6px;
    text-align:       center;
    background-color: #669ab3;
    width:            380px;
    padding-left:     9px;
    padding-right:    11px;
	margin-top:       -4px;
}

#gf_images_flow_container .gf_image .origin_page_url a {
	font-size: 12px;
    color: white;
    text-decoration: none;
    word-wrap: break-word;
}
#gf_images_flow_container .gf_image .creation_time {
	font-size:        14px;
	background-color: rgb(59, 124, 156);
    color:            white;
    padding-top:      5px;
}

#gf_images_flow_container .gf_image .creation_time .full_creation_date {
	background-color: #3992bd;
    color:            #1d3d4c;
    padding-top:      3px;
    padding-bottom:   3px;
    margin-top:       4px;
}

/*----------------------------------------------------------*/
/*FLOWS_PICKER*/

#flows_picker {
	position: fixed;
	top: 50px;
	right: 0px;
}

#flows_picker #expand_btn {
	position: fixed;
    top: 106px;
    background-color: rgb(122, 122, 122);
    width: 60px;
    height: 60px;
    right: 0px;
    cursor: pointer;

}

#flows_picker #flows {
	display: block;
    right: 60px;
    position: fixed;
    top: 106px;
}

#flows_picker .flow_info {
	display: flex;
	background-color: rgb(247 247 247);
	margin-bottom: 4px;
    padding: 4px;

	/*
	border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
	*/
}
#flows_picker .flow_imgs_count {
	color: gray;
}
#flows_picker .flow_name {
	padding-left: 5px;
}
#flows_picker .flow_name a {
	text-decoration: none;
    color: gray;
	font-weight: bold;
}

#flows_picker #flows_experimental_label {
	right: -42px;
}

/*----------------------------------------------------------*/
/*VIEW_TYPE_PICKER*/

#view_type_picker {
	position: fixed;
	right:    -16px;
	top:      529px;
	width:    50px;
	height:   50px;
}

#view_type_picker #masonry_small_images {
	position: absolute;
	top: 0px;
	width:            20px;
	height:           20px;
	background-color: rgb(225, 35, 35);
	cursor:           pointer;
}

#view_type_picker #masonry_medium_images {
	position: absolute;
	top: 30px;
	width:            20px;
	height:           20px;
	background-color: rgb(158, 73, 73);
	cursor:           pointer;
}

#view_type_picker #viz_group_medium_images {
	position: absolute;
	top: 60px;
	width:            20px;
	height:           20px;
	background-color: rgb(77, 36, 36);
	cursor:           pointer;
}

/*----------------------------------------------------------*/
/*CURRENT_PAGE_DISPLAY*/
#current_pages_display {
	position: fixed;
    background-color: #f7f7f7;
    right: 0px;
    top: 400px;
    font-size: 12px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 9px;
    margin-top: 6px;
}

#current_pages_display #start_page {
	font-size: 20px;
    background-color: #cccccc;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 4px;
}

#current_pages_display #end_page {
	font-size: 20px;
    background-color: #a4a4a4;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 4px;
}

#current_pages_display #to {
	left: 5px;
    text-align: center;
    padding-right: 5px;
}

/*-------------------------------------------*/
/*humble beginnings...*/
#sys_release_info {
	position        : fixed;
	right           : 0px;
	bottom          : 0px;
	background-color: rgb(226, 226, 157);
	padding-left    : 8px;
	padding-top     : 6px;
	padding-right   : 5px;
	padding-bottom  : 3px;
	z-index         : 5000;
	width:   262px;
	height:  34px;
	opacity: 0.5;
}
#sys_release_info #version {
	text-align: right;
	font-size: 10px}

#sys_release_info #name {
	text-align: right;
	font-size: 10px;
}

#sys_release_info #description {
	visibility: hidden;
}

#sys_release_info #git_commit {
	position:  fixed;
	bottom:    0px;
	width:     334px;
	font-size: 10px;
}

#sys_release_info #git_commit a {
	text-decoration: none;
}