body {
	margin:      0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*turn off horizontal scroll*/
	max-width:  100%;
    overflow-x: hidden;

	background-color: #d7d7d7;
}
#main_title {
	padding: 6px;
	padding-bottom: 3px;
	color: gray;
	font-size: 13px;
}

/*--------------------------------------------------------------*/
#libp2p_rendezvous_symbol {
	background-color: #7dc1ea;
	width: 30%;
	padding: 4px;
	padding-bottom: 1px;
	font-size: 10px;
}
#libp2p_rendezvous_symbol span {
	font-size: 16px;
}
#libp2p_protocol_id {
	background-color: #6eaad0;
	width: 30%;
	padding: 4px;
	padding-bottom: 1px;
	font-size: 10px;
}
#libp2p_protocol_id span {
	font-size: 16px;
}
#libp2p_dht_mode {
	background-color: #6499ba;
	width: 30%;
	padding: 4px;
	padding-bottom: 1px;
	font-size: 10px;
}
#libp2p_dht_mode span {
	font-size: 16px;
}

/*--------------------------------------------------------------*/
/* bootstrap_peers */
#libp2p_bootstrap_peers {
	font-size: 12px;
	background-color: #939393;
	padding: 5px;
}
#libp2p_bootstrap_peers #peers .peer {
	background-color: gray;
	margin-bottom: 2px;
}

/*--------------------------------------------------------------*/
/* peerstore */

#libp2p_peerstore {
	font-size: 12px;
	background-color: #e4bd83;
	padding: 5px;
}
#libp2p_peerstore #peers .peer {
	background-color: #e4bd83;
	margin-bottom: 2px;
	font-size: 8px;
}

/*--------------------------------------------------------------*/