


<head>

    {{/*--------------------------------------------------------------*/}}
    <link rel="stylesheet" type="text/css" href="./../../css/gf_bookmarks.css"/>
    <link rel="stylesheet" type="text/css" href="./../../../../gf_sys_panel/css/gf_sys_panel.css"/>
    <link rel="stylesheet" type="text/css" href="./../../../../gf_core/css/gf_sys_release_info.css"/>

    {{/*--------------------------------------------------------------*/}}

</head>
<body>
    <div id="main_container">

        <div id="left_space"></div>
        {{- /*------------------------------------------------------*/}}
        <div id="bookmarks">
            {{ range .Bookmarks_lst -}}
            <div class="bookmark">
                
                <div class='url'>
                    <a href='{{ .Url_str }}'>{{ .Url_str }}</a>
                </div>

                <div class='description'>
                    {{ .Description_str }}
                </div>

                <div class='screenshot' data-img_id="{{- .Screenshot_image_thumbnail_url_str }}">
                    
                </div>

                <div class="tags">
                    <div class='label'>tags:</div>
                    <div class='tags_list'>
                        {{ range .Tags_lst -}}
                        <span class="tag"><a href="/v1/tags/objects?tag={{ . }}&otype=bookmark">{{- . -}}</a></span>
                        {{ end -}}
                    </div>
                </div>

                <div class='creation_time'>
                    {{ printf "%f" .Creation_unix_time_f }}
                </div>
            </div>
            {{end -}}
        </div>
        {{- /*------------------------------------------------------*/}}

        <div id="right_space"></div>
    </div>

    {{/*------------------------------------------------------*/}}
    <div id='sys_release_info'>
        <div id='version'>v <span>{{- .Sys_release_info.Version_str }}</span></div>
        <div id='name'>name <span>{{- .Sys_release_info.Name_str }}</span></div>
        <div id='description'>description <span>{{- .Sys_release_info.Description_str }}</span></div>
        <div id='git_commit'>Git commit <a target="_blank" href='https://github.com/gloflow/gloflow/commit/{{- .Sys_release_info.Git_commit_str }}'>{{- .Sys_release_info.Git_commit_str }}</a></div>
    </div>

    {{/*------------------------------------------------------*/}}
    <script type="text/javascript" src="./../../../../../libs/js/system.min.js"></script>
    <script type="text/javascript" src="./../../../../../libs/js/system_named_register_ext.js"></script> <!-- without this SystemJS extension modules dont load -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./../../../../../libs/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="./../../ts/gf_bookmarks/gf_bookmarks.ts"></script>

    <script>
        System.import('gf_apps/gf_tagger/ts/gf_bookmarks/gf_bookmarks').then(function(m){});
    </script>

    {{/*------------------------------------------------------*/}}
    {{- /*SUBTEMPLATE*/}}
    {{ if (call .Is_subtmpl_def "gf_footer")}}
        {{ template "gf_footer" }}
    {{ end }}

    {{- /*------------------------------------------------------*/}}
</body>