.gf_image_share {
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 2;
}

/*----------------------------------------------------------*/
/* EMAIL_BTN */

.gf_image_share .email_btn {
    width: 30px;
    height: 21px;
    
    background-color: gray;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    color: black;
    padding-top: 8px;

}
.gf_image_share .email_btn:hover {
    background-color: gray;
}

/*----------------------------------------------------------*/
/* EMAIL_DIALOG */

.gf_image_share_email_dialog {
    position: absolute;
    top: 0px;
    left: 30px;
    width: 188px;
    background-color: gray;
    height: 106px;

    font-size: 10px;
}

.gf_image_share_email_dialog input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 180px;
    padding: 4px;
    background-color: gray;
}
.gf_image_share_email_dialog input::placeholder {
    color: black;
}

.gf_image_share_email_dialog textarea {
    border: none;
    outline: none;
    box-shadow: none;
    width: 180px;
    height: 56px; 
    padding: 4px;
    background-color: gray;
}
.gf_image_share_email_dialog textarea::placeholder {
    color: black;
}

.gf_image_share_email_dialog .share_btn {
    padding-top: 10px;
    height: 23px;
    width: 188px;
    background-color: #adadad;
    text-align: center;
    top: 110px;
    position: absolute;
    font-size: 12px;
    cursor: pointer;
}
.gf_image_share_email_dialog .share_btn:hover {
    background-color: white;
}