<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>gloflow - the universe of creativity and art</title>
	<meta name="description" content="platform for media (image, video, sound) usage and editing, creation and sharing of culture"/>
	<meta name="revisit-after" content="1 days"/>
	{{- /*-----------------------------------------------------*/}}
	<!-- directs fb to use the specified image when the page is shared -->
	<meta property="og:image" content="data/gf_landingpage_5.png"/> 
	<meta property="og:title" content="gloflow - a parallel space for artistic expression"/>

	<!-- canonical address  -->
	<meta property="og:url"       content="https://gloflow.com"/>
	<meta property="og:site_name" content="GloFlow"/>

	<meta property="og:type" content="photos"/>
	<meta property="og:type" content="videos"/>
	<meta property="og:type" content="culture"/>
	<meta property="og:type" content="art"/>
	<meta property="og:type" content="architecture"/>
	<meta property="og:type" content="design"/>
	<meta property="og:type" content="photography"/>
	<meta property="og:type" content="fashion"/>
	<meta property="og:type" content="music"/>
	<meta property="og:type" content="vr"/>
	{{- /*-----------------------------------------------------*/}}
	<link rel="stylesheet" type="text/css" href="./../../css/gf_images_flows_browser/gf_images_flows_browser.css"/>
	<link rel="stylesheet" type="text/css" href="./../../css/gf_images_flows_browser/gf_images_flows_picker.css"/>
	<link rel="stylesheet" type="text/css" href="./../../../../gf_core/css/gf_gifs_viewer.css"/>
	<link rel="stylesheet" type="text/css" href="./../../../../gf_core/css/gf_image_viewer.css"/>
	<link rel="stylesheet" type="text/css" href="./../../../../gf_core/css/gf_image_upload.css"/>
	<link rel="stylesheet" type="text/css" href="./../../../../gf_sys_panel/css/gf_sys_panel.css"/>
	<link rel="stylesheet" type="text/css" href="./../../../../gf_apps/gf_images/css/gf_images_core/gf_images_share.css"/>
	<link rel="stylesheet" type="text/css" href="./../../../../gf_apps/gf_tagger/css/gf_tagger_ui_v2.css"/>
	<link rel="stylesheet" type="text/css" href="./../../../../gf_apps/gf_tagger/css/gf_tagger_notes_ui.css"/>
</head>
</head>
<body>
	<div id="identity">
		<div id="login"></div>
	</div>
	
	{{- /*------------------------------------------------------*/}}
	<div id='gf_images_flow_container' data-flow_pages_num="{{- .Flow_pages_num_int}}">
		<div id="flow_info">
			<div id="flow_name">{{ .Flow_name_str }}</div>
		</div>
		<div id="items">
		{{- range .Images_pages_lst }}
			{{- range . }}
				<div class='gf_image item small_view'
					data-img_id='{{- .id_str }}'
					data-img_format='{{- .format_str }}'
					data-img_meta_json='{{- .meta_json_str }}'
					data-img_flows_names="{{ .flows_names_str }}">
					
					{{- /*------------------------------------------------------*/}}
					{{- /*IMAGE THUMBNAIL DATA*/}}
					{{- /*REMOVE!! - IS THIS USED????*/}}
					<div style='display:none'>
						{{- /*this div is a data carrier, so it should not be visible.
							REMOVE!! - add and read this data as data-img_thumb_small_url*/}}
						<div class='thumb_small_url'>
							{{- .thumbnail_small_url_str }}
						</div>
					</div>
					<img src="{{.thumbnail_medium_url_str}}"
						data-img_thumb_medium_url="{{ .thumbnail_medium_url_str }}"
						data-img_thumb_large_url="{{ .thumbnail_large_url_str }}"></img>
						
					{{- /*------------------------------------------------------*/}}
					{{- /*TAGS*/}}
					{{- if .image_has_tags_bool}}
					<div class='tags_container'>
					
						{{- range .tags_lst }}
						<a class='gf_image_tag' href='/v1/tags/objects?tag={{ . }}&otype=image'>#{{ . }}</a>
						{{- end }}
					
					</div>
					{{- end }}

					{{- /*------------------------------------------------------*/}}
					<div class="origin_page_url">
						<a href="{{ .image_origin_page_url_str }}" target="_blank">{{ .image_origin_page_url_str }}</a>
					</div>

					{{- /*------------------------------------------------------*/}}
					<div class="creation_time">{{ .creation_unix_time_str }}</div>
					<div class="owner_user_name">by <span>{{ .owner_user_name_str }}</span></div>

					{{- /*------------------------------------------------------*/}}
				</div>
			{{- end }}
		{{- end }}
		</div>

	</div>
	{{- /*------------------------------------------------------*/}}
	<div id='sys_release_info'>
		<div id='version'>v <span>{{- .Sys_release_info.Version_str }}</span></div>
		<div id='name'>name <span>{{- .Sys_release_info.Name_str }}</span></div>
		<div id='description'>description <span>{{- .Sys_release_info.Description_str }}</span></div>
		<div id='git_commit'>Git commit <a target="_blank" href='https://github.com/gloflow/gloflow/commit/{{- .Sys_release_info.Git_commit_str }}'>{{- .Sys_release_info.Git_commit_str }}</a></div>
	</div>
	{{- /*-----------------------------------------------------*/}}
	<script type="text/javascript" src="./../../../../../libs/js/system.min.js"></script>
	<script type="text/javascript" src="./../../../../../libs/js/system_named_register_ext.js"></script> <!-- without this SystemJS extension modules dont load -->

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./../../../../../libs/js/jquery.timeago.js"></script>

	<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
	<script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>
	<script type="text/javascript" src="./../../../../../libs/js/masonry.pkgd.min.js"></script>
	
	<script type="text/javascript" src="./../../../../gf_core/ts/gf_image_upload.js"></script>
	<script type="text/javascript" src="./../../../../gf_core/ts/gf_image_upload.js"></script>
	<script type="text/javascript" src="./../../../../gf_apps/gf_tagger/js/gf_tagger_ui_v2.js"></script>
	<script type="text/javascript" src="./../../../../gf_apps/gf_tagger/js/gf_tagger_http.js"></script>
	<script type="text/javascript" src="./../../ts/gf_images_flows_browser/gf_images_flows_browser.ts"></script>

	<script>
		System.import('gf_apps/gf_images/ts/gf_images_flows_browser/gf_images_flows_browser').then(function(m){});
	</script>
	{{- /*------------------------------------------------------*/}}
	{{- /*SUBTEMPLATE*/}}
	{{ if (call .Is_subtmpl_def "gf_footer")}} 
		{{ template "gf_footer" }}
	{{ end }}
	{{- /*------------------------------------------------------*/}}
</body>
</html>